/*

    BRAND RELATED STYLES

*/
/*
    TYPE
*/
.display-3 {
    font-family: 'Limerick Serial';
}
.display-4 {
    text-transform: uppercase;
    font-family: 'Saira';
    font-weight: 600;
}
.jumbotron__title h1 {
    margin-bottom: -10px;
}
.title__tag-line {
    margin-top: 0;
    font-weight: 300;
    text-transform: capitalize;
    /*font-size: 43px;*/
}

.text--red {
    color: #D50000;
}
.text--yellow {
    color: #FFA700;
}
.text--purple {
    color: #8D1B66;
}
.text--green {
    color: #1B8D80;
}
.text--blue {
    color: #1B6B8D;
}
.text--red__hover:hover {
    color: #D50000;
}
.text--yellow__hover:hover {
    color: #FFA700;
}
.text--purple__hover:hover {
    color: #8D1B66;
}
.text--green__hover:hover {
    color: #1B8D80;
}
.text--blue__hover:hover {
    color: #1B6B8D;
}
.bg-black {
    background-color: #000;
    border-color: #000;
}
.bg-yellow {
    background-color: #FFA700;
}

.page__section {
    margin-top: 80px;
    margin-bottom: 80px;
    height: 100%;
    padding: 20px;
}
/*

   CARD STYLING

*/
.card {
    border: 1px solid #EAEAEA;
    box-shadow: 3px 8px 12px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}
/*.card-title {*/
    /*font-family: 'Overpass';*/
    /*font-weight: 700;*/
    /*font-size: 30px;*/
/*}*/
.card.bg-black {
    border-color: transparent;
}

.btn {
    font-weight: 400;
    text-align: center;
    /*white-space: ;*/
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
}
/*.btn-light {*/
    /*color: #212529;*/
    /*background-color: #fff;*/
    /*border-color: #fff;*/
/*}*/
/*

    SECTION STYLING

*/
section h3 {
    /*margin-top: 17px;*/
    margin-bottom: 50px;
}
/*

    HOME TITLE

*/
.site--view .jumbotron {
    background:
        linear-gradient(rgba(135,0,0, 0.5), #190a05),
        url(../../tbc/imgs/image-3.png);
    background-position: center;
    background-origin: inherit;
    background-repeat: no-repeat;
    background-size: cover;
    height: 40vw;
}
/*.jumbotron:before{*/
    /*content: '';*/
	/*position: absolute;*/
	/*!*position: relative;*!*/
	/*top: 0;*/
	/*!*top: 59;*!*/
	/*right: 0;*/
	/*bottom: 0;*/
	/*!*bottom: 16px;*!*/
	/*left: 0;*/
	/*!*background-image: linear-gradient(to bottom right,#002f4b,#dc4225);*!*/
     /*background: #870000; !* fallback for old browsers *!*/
    /*background: -webkit-linear-gradient(to right, #870000, #190a05); !* Chrome 10-25, Safari 5.1-6 *!*/
    /*background: linear-gradient(to right, #870000, #190a05); !* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ *!*/
	/*opacity: .8;*/
/*}*/
/*

    VALUES

*/
.home__values .card {
    min-width: 220px;
}
.home__values .card-body {
    padding-bottom: 0;
}
.home__values .card--icon img {
    height: 97px;
    margin: 0 auto;
    width: 100%;
}
.values__boxes  .card:after {
    content: " ";
    opacity: 0;
    /*animation: all 0.005ms;*/
    position: relative;
    display: block;
    top: 35px;
    left: 40%;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid black;
    width: 0;
    /* height: 0px; */
}
.values__boxes .card.active:after {
    opacity: 100;
    transition: opacity 1s;
    /* height: 0px; */
}
.home__values .alert {
    height: 130px;
}
/*

    MEMBERSHIP STYLES

*/
.home__join--members {

}
/*

    LEADERSHIP STYLES

*/

.home__join--leadership {
    margin-bottom: 0;
    padding-bottom: 0;
}

/*

    SPONSORSHIP STYLES

*/
.home__join--sponsorship {
    margin-top: 0;
    padding-top: 80px;
}

/*// Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575px) {
    .site--view .jumbotron {
        height: 100vw;
        min-height: 90vh;
        max-height: 120vh;
    }
}

/*// Small devices (landscape phones, less than 768px)*/
@media (max-width: 767px) {
    .site--view .jumbotron {
        min-height: 90vh;
        max-height: 120vh;

    }
    .home__join--leadership {
        height: 100vw;
        min-height: 90vw;
        max-height: 90vw;
    }
}

/*// Medium devices (tablets, less than 992px)*/
@media (max-width: 991px) {
    .site--view .jumbotron {
        max-height: 70vh;
        min-height: 60vh;
    }
}

/*// Large devices (desktops, less than 1200px)*/
@media (max-width: 1199px) {

}

/*// Extra large devices (large desktops)*/
/*// No media query since the extra-large breakpoint*/