@import url('https://fonts.googleapis.com/css?family=Overpass:400,700|Saira:300,600');

@font-face {
    font-family: 'Limerick Serial';
    src: url('../fonts/limerick_serial-bold-webfont.woff2') format('woff2'),
         url('../fonts/limerick_serial-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
/*

    BRAND RELATED STYLES

*/
/*
    TYPE
*/
body {
    font-family: 'Overpass';
}
.display-3 {
    font-family: 'Limerick Serial';
}
.display-4 {
    text-transform: uppercase;
    font-family: 'Saira';
    font-weight: 600;
}
.jumbotron__title h1 {
    margin-bottom: -10px;
}
.title__tag-line {
    margin-top: 0;
    font-weight: 300;
    text-transform: capitalize;
    font-size: 43px;
}

.text--red {
    color: #D50000;
}
.text--yellow {
    color: #FFA700;
}
.text--purple {
    color: #8D1B66;
}
.text--green {
    color: #1B8D80;
}
.text--blue {
    color: #1B6B8D;
}
.text--red__hover:hover {
    color: #D50000;
}
.text--yellow__hover:hover {
    color: #FFA700;
}
.text--purple__hover:hover {
    color: #8D1B66;
}
.text--green__hover:hover {
    color: #1B8D80;
}
.text--blue__hover:hover {
    color: #1B6B8D;
}
.bg-black {
    background-color: #000;
    border-color: #000;
}
.bg-yellow {
    background-color: #FFA700;
}

.page__section {
    margin-top: 80px;
    margin-bottom: 80px;
    height: 100%;
    padding: 20px;
}
/*

   CARD STYLING

*/
.card {
    border: 1px solid #EAEAEA;
    box-shadow: 3px 8px 12px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}
.card.bg-black {
    border-color: transparent;
}
/*

    SECTION STYLING

*/
section h3 {
    /*margin-top: 17px;*/
    margin-bottom: 50px;
}
/*

    HOME TITLE

*/
.site--view .jumbotron {
    background:
            linear-gradient(
                    rgba(141, 27, 27, 0.49),
                    rgba(141, 27, 27,  0.49)
            ),
            url(../imgs/image-3.png);
    background-position: center;
    background-origin: inherit;
    background-repeat: no-repeat;
    background-size: cover;
    height: 30vw;
}
/*

    VALUES

*/
.home__values .card-body {
    padding-bottom: 0;
}
.home__values .card--icon img {
    height: 97px;
    margin: 0 auto;
    width: 100%;
}
.values__boxes  .card:after {
    content: " ";
    opacity: 0;
    /*animation: all 0.005ms;*/
    position: relative;
    display: block;
    top: 25px;
    left: 40%;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid black;
    width: 0;
    /* height: 0px; */
}
.values__boxes .card.active:after {
    opacity: 100;
    transition: opacity 1s;
    /* height: 0px; */
}
.home__values .alert {
    height: 96px;
}
/*

    MEMBERSHIP STYLES

*/
.home__join--members {

}
/*

    LEADERSHIP STYLES

*/

/*.home__join--leadership {*/
    /*background-origin: inherit;*/
    /*background-size: cover;*/
    /*height: 100%;*/
/*}*/

/*// Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575px) {
    .site--view .jumbotron {
        height: 90vw;
    }
}

/*// Small devices (landscape phones, less than 768px)*/
@media (max-width: 767px) {
    .home__join--leadership {
        height: 100vw;
    }
}

/*// Medium devices (tablets, less than 992px)*/
@media (max-width: 991px) {

}

/*// Large devices (desktops, less than 1200px)*/
@media (max-width: 1199px) {

}

/*// Extra large devices (large desktops)*/
/*// No media query since the extra-large breakpoint*/